body {
    font-family: 'poppins', sans-serif;
    margin: 0;
}

p {
    text-align: justify;
    font-weight: 100;
}

.mission-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.nav-bar {
    background-color: rgba(218, 67, 21, 0.829);
    height: 40px;
    padding: 3px;
    padding-top: 5px;
}

.nav-container {
    padding-left: 8%;
    padding-right: 8%;

}

.container {
    padding: 8%;
}

a {
    display: inline;
    padding: 14px 16px;
    width: 10px;
    height: 40px;
}

h1 {
    font-size: 45px;
}

.orange-color {
    color: orange;
}

.link-button {
    background-color: rgb(209, 72, 72);
    height: 5px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}

.flexible-container {
    display: flex;
}

section {
    margin: 5px;
    padding: 3.5%;

}

.width-same {
    width: 33%;
    padding: 10px;
    margin: 10px
}

.width-same img {
    width: 33%;

}

.text-centered {
    text-align: center;
}

.box1 {
    box-shadow: 5px 5px 10px rgb(187, 127, 127);
    background-color: rgb(231, 218, 222);
    border-left: 5px solid;
}

.box2 {

    box-shadow: 5px 5px 10px rgb(187, 127, 127);
    background-color: rgb(168, 199, 211);
}

.box3 {
    background-color: rgb(218, 172, 172);
    box-shadow: 5px 5px 10px rgb(187, 127, 127);
}

.img-male {
    width: 30%;
}

footer {
    background-color: black;
    text-decoration: white;
    font-style: oblique;
    text-align: center;
    padding: 5px;
    color: white;
}

.top-banner {
    background-image: url(image/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-right: 50px;
    background-size: 50px;
}