body {
    font-family: 'poppins', sans-serif;
    margin: 0;
}

.nav-bar {
    margin-left: 52px;
    display: block;
    padding: 5px;
    background-color: rgb(236, 96, 96);

}

a {
    display: inline;
    padding: 14px 16px;
    width: 10px;
    height: 40px;
}

h1 {
    font-size: 30px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}

.flexible-container {
    display: flex;
}

section {
    margin: 5px;
    padding: 3.5%;

}

.width-same {
    width: 33%;
    padding: 10px;
    margin: 10px
}

.width-same img {
    width: 33%;

}

.text-centered {
    text-align: center;
}

.box1 {
    box-shadow: 5px 5px 10px rgb(187, 127, 127);
    background-color: rgb(231, 218, 222);
    border-left: 5px solid;
}

.box2 {

    box-shadow: 5px 5px 10px rgb(187, 127, 127);
    background-color: rgb(168, 199, 211);
}

.box3 {
    background-color: rgb(218, 172, 172);
    box-shadow: 5px 5px 10px rgb(187, 127, 127);
}

.img-male {
    width: 30%;
}

footer {
    background-color: aquamarine;
    text-decoration: rgb(199, 42, 42);
    font-style: oblique;
}

.top-banner {
    background-image: url(image/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-right: 50px;
    background-size: 50px;
}